body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.emoji-reaction-container {
    display: flex;
    align-items: center;
}

.emoji-reaction {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 24px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.emoji-icon {
    font-size: 24px;
    transition: transform 0.3s;
}

.emoji-reaction:hover .emoji-icon {
    transform: scale(3);
}

.emoji-count {
    margin-top: 5px;
}
