body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.emoji-reaction-container {
    display: flex;
    align-items: center;
}

.emoji-reaction {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 24px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.emoji-icon {
    font-size: 24px;
    transition: transform 0.3s;
    position: relative;
    bottom: 10px; /* Adjust this value to position the emoji higher */
    z-index: 0;
}

.emoji-reaction:hover .emoji-icon {
    transform: scale(2.5) translateY(-50%); /* Adjust the hover effect to go over the button */
}

.emoji-count {
    margin-top: 5px;
    z-index: 1;
}
